@charset "utf-8";
*{
	color:crimson;
	font-size: 24px;
}
.wrapper{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url("Dark.png");
	background-size: cover;
	transition: all 0.3s ease;
}
.top-banner{
	height: 200px;
	margin-top: 0px;
	background-image:url("PAY.png");
	background-position: center;
	background-size: 600px;
	background-repeat: no-repeat;
}
.cover{
	margin-top: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:  translate(-50%,-50%);
	list-style: none;
	text-align: center;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
.cpm{
	margin-bottom: 25px;
}
.bank{
	margin-bottom: 25px;
}
.name{
	margin-bottom: 25px;
}
.upload{
	margin-bottom: 25px;
	background-color:darkorange;
}
.confirm{
	margin-bottom: 25px;
}
.submit{
	margin-bottom: 25px;
}
.toppy {
	text-align: right;
	color: antiquewhite;
}
.text {
    font-size: 20px;
}
.home {
    position: absolute;
	background: url("home.png");
	background-position: center;
	background-size: contain;
	border: none;
    width: 50px;
    height: 50px;
    left: 13px;
    top: 13px;
}
